$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$promotion-bg: #2a2a2a;

$primary: #d58e32;

$text-color: #2a2a2a;
$text-hover-color: #ffffff;

$form-border-color: #292929;

$transition-text-timing: 250ms;
$transition-background-timing: 250ms;
