<header>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col text-left">
          <ul>
            <li>
              <a href="#">USD <i class="fas fa-caret-down"></i></a>
            </li>
            <li>
              <a href="#">English <i class="fas fa-caret-down"></i></a>
            </li>
            <li>
              <a href="#">Help <i class="fas fa-caret-down"></i></a>
            </li>
          </ul>
        </div>
        <div class="col text-right">
          <ul>
            <li>
              <a href="#"><i class="fas fa-user"></i> Login</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-lock"></i> Register</a>
            </li>
            <li>
              <a href="#"><i class="fas fa-bars"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="company-claim">
    <div class="container">
      <div class="row align-items-center">
        <div class="col text-left phone-number">
          <p><i class="fas fa-mobile-alt"></i> 2345 - 3560 - 222</p>
        </div>
        <div class="col text-center">
          <a href="#"><img src="./images/logo.png"/></a>
        </div>
        <div class="col text-right cart">
          <a href="#" class="cart-box">
            <div class="cart-icon"><i class="fas fa-shopping-basket"></i></div>
            <div class="cart-counter">0</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <form action="" class="search-form">
            <div class="category">
              <i class="fas fa-list-ul"></i>
              <select name="" id="">
                <option value="">Select a category</option>
              </select>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="search-field">
              <input placeholder="Search products..." type="text" />
              <button><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="col-auto menu">
          <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Bedroom</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
