<div class="section--promotion">
  <div class="container">
    <div class="row">
      <div class="col col-md-12 col-lg-4">
        <div class="product-box">
          <div class="hot-deals">
            <h5>Hot deals</h5>
            <div class="dots-deals">
              <div class="dot dot-active"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div class="photo">
            <img src="images/promotion/promotion-box.jpg" alt="" />
            <a href="#" class="btn-main-small">
              <i class="fa fa-shopping-basket"></i> ADD TO CART
            </a>
          </div>
          <div class="stopwatch">
            <div class="data">
              <div class="days">25</div>
              <div>days</div>
            </div>
            <div class="data">
              <div class="hours">10</div>
              <div>hrs</div>
            </div>
            <div class="data">
              <div class="minutes">45</div>
              <div>mins</div>
            </div>
            <div class="data">
              <div class="seconds">30</div>
              <div>secs</div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="old-price">$ 150.00</div>
              <div class="btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-12 col-lg-8">
        <div class="promotion">
          <img src="images/promotion/promotion-right.jpg" alt="" />
          <div class="wrapper">
            <h1>Indor <span>furniture</span></h1>
            <h2>save up to 50% of all furniture</h2>
            <button>Shop now</button>
          </div>
          <div class="promotion-btns">
            <div class="arrow-promtion"><</div>
            <div class="arrow-promtion">></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
