<div class="section--promotion">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="product-box">
          <div class="hot-deals">
            <h5>Hot deals</h5>
            <div class="dots-deals">
              <div class="dot dot-active"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
          <div class="photo">
            <img src="images/promotion/promotion-box.jpg" alt="" />
            <a href="#" class="btn-main-small">
              <i class="fa fa-shopping-basket"></i> ADD TO CART
            </a>
          </div>
          <div class="stopwatch">
            <div class="data days">25 days</div>
            <div class="data days">10 hrs</div>
            <div class="data days">45 mins</div>
            <div class="data days">30 secs</div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="old-price">$ 150.00</div>
              <div class="btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small">
                <i class="fa fa-shopping-basket"></i> ADD TO CART
              </a>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline active"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price">
              <div class="old-price">$ 150.00</div>
              <div class="btn-main-small no-hover">$ 30.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
