<div class="section--features">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="feature-box active">
          <div class="icon"><i class="fas fa-truck"></i></div>
          <div class="content">
            <h5>Free shipping</h5>
            <p>All orders</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature-box">
          <div class="icon"><i class="fas fa-headphones"></i></div>
          <div class="content">
            <h5>24/7 customer</h5>
            <p>support</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature-box">
          <div class="icon"><i class="fas fa-reply-all"></i></div>
          <div class="content">
            <h5>Money back</h5>
            <p>guarantee</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="feature-box">
          <div class="icon"><i class="fas fa-bullhorn"></i></div>
          <div class="content">
            <h5>Member discount</h5>
            <p>First order</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
