<div class="section--deals">
  <div class="container">
    <div class="col-lg-6 deals-thumbnail-big">
      <img src="images/deals/sofa.jpg" class="photo-left" alt="" />
      <div class="thumbnail-big-overlay">
        <h2 class="thumbnail-big-header">
          Guest room<br />
          <span class="thumbnail-big-header-span">Sofa</span>
        </h2>
        <h2 class="thumbnail-big-header">-20%</h2>
      </div>
    </div>
    <div class="col-lg-6 deals-thumbnail-small">
      <div class="deals-thumbnail-top">
        <img src="images/deals/chair.jpg" class="photo-right-top" alt="" />
        <div class="thumbnail-top-description">
          <h2 class="thumbnail-top-header-2">
            Office <span class="thumbnail-top-header-2-span">Chair</span>
          </h2>
          <h5 class="thumbnail-top-header-5">Collection</h5>
          <h3 class="thumbnail-top-header-3">$ 200.00</h3>
        </div>
      </div>
      <div class="deals-thumbnail-bottom">
        <img src="images/deals/bed.jpg" class="photo-right-bottom" alt="" />
        <div class="thumbnail-bottom-description">
          <h3 class="thumbnail-bottom-h3">
            Special <span class="thumbnail-bottom-h3-span">Collection</span>
          </h3>
          <h3 class="thumbnail-bottom-h3">Save up 45% of furniture</h3>
        </div>
      </div>
    </div>
  </div>
</div>
