<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li>
              <a href="#" class="active" data-number="0" data-anchor="bed">Bed</a>
            </li>
            <li><a href="#" data-number="1" data-anchor="chair">Chair</a></li>
            <li><a href="#" data-number="2" data-anchor="sofa">Sofa</a></li>
            <li><a href="#" data-number="3" data-anchor="tablee">Table</a></li>
            <li><a href="#" data-number="4" data-anchor="dining">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots">
          <ul>
            <li>
              <a href="#" data-number="0" data-anchor="bed" class="dot active"></a>
            </li>
            <li><a href="#" data-number="1" data-anchor="chair" class="dot"></a></li>
            <li><a href="#" data-number="2" data-anchor="sofa" class="dot"></a></li>
            <li><a href="#" data-number="3" data-anchor="tablee" class="dot"></a></li>
            <li><a href="#" data-number="4" data-anchor="dining" class="dot"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row tabs bed active">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tabs chair">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tabs sofa">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tabs tablee">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tabs dining">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
