<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul class="carousel-dots3">
            <li
              data-nav="0"
              aria-label="Carousel Page 1"
              aria-controls="tns1"
              class=""
              tabindex="-1"
            >
              <a></a>
            </li>
            <li
              data-nav="1"
              tabindex="-1"
              aria-label="Carousel Page 2"
              aria-controls="tns1"
            >
              <a></a>
            </li>
            <li
              data-nav="2"
              tabindex="-1"
              aria-label="Carousel Page 3"
              aria-controls="tns1"
            >
              <a></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="my-slider3">
      <div class="col-md-3 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-1.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-2.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-3.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-1.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-2.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-3.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-1.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-2.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 slider-item">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-3.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
