<div class="section--blog-posts">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Latest blog</h3></div>
        <div class="col"></div>
        <div class="col-auto dots dots2">
          <ul>
            <li>
              <a href="#" data-number="1" data-anchor="one" class="dot dot2 active"></a>
            </li>
            <li><a href="#" data-number="2" data-anchor="two" class="dot dot2"></a></li>
            <li>
              <a href="#" data-number="3" data-anchor="three" class="dot dot2"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row tabs2 one 1 active">
      <div class="col-4">
        <div class="post-box">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><a href="#" class="btn-main">Read more</a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="post-box">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><a href="#" class="btn-main">Read more</a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="post-box">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><a href="#" class="btn-main">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tabs2 two 2">
      <div class="col-4">
        <div class="post-box">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><a href="#" class="btn-main">Read more</a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="post-box">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><a href="#" class="btn-main">Read more</a></div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="post-box">
          <div class="cover">
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><a href="#" class="btn-main">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tabs2 three 3">
      <div class="col-4">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-1.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-2.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#" class="post-box">
          <div class="cover">
            <img src="images/blog/blog-3.jpg" alt="" />
            <div class="details">
              <div class="date"><i class="fas fa-calendar-alt"></i> 15 Jan 2016</div>
              <div class="comments"><i class="fas fa-comments"></i> 4 Comments</div>
            </div>
          </div>
          <div class="post-info">
            <h5>Products That Fight Static</h5>
            <p>
              Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
              nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula,
              rutrum magna in, ornare enim.
            </p>
            <div class="more"><div class="btn-main">Read more</div></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
