<section class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="client-wrapper">
      <i class="fas fa-quote-right"></i>
      <blockquote class="feedback-quote">
        Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        duo dolores et ea rebum. Stet clita kasd gubergren.
      </blockquote>
      <div class="client-data">
        <img src="images/feedback.jpeg" />
        <div class="name-data">
          <b>John Smith</b>
          <p>Furniture client</p>
        </div>
      </div>
    </div>
  </div>
</section>
