.section--brands {
  padding-bottom: 40px;
  width: 100%;

  .brands-wrapper {
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
    width: 100%;

    .arrow {
      line-height: 90px;
      font-size: 16px;
      padding: 0 15px;
      background-color: $brands-bg;
      color: #fff;
      margin: 20px 0;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    img {
      margin: 20px 0;
      border: 1px solid #b6b6b6;
      max-width: 145px;
      height: 90px;
    }
  }
}
