.section--feedback {
  .client-wrapper {
    text-align: center;
    color: $text-color-light;
    font-size: 14px;
    margin: 30px 0;

    i {
      color: #000;
      padding: 20px;
    }

    blockquote {
      margin: 0 auto;
      width: 80%;
      text-align: center;
    }
    .client-data {
      display: flex;
      justify-content: center;
      padding: 20px;
      img {
        margin-right: 10px;
      }
      .name-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
