.section--promotion {
  padding-top: 10px;
  .product-box {
    .hot-deals {
      display: flex;
      justify-content: space-between;
      background-color: $footer-claim-bg;
      height: 30px;
      text-transform: uppercase;
      color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      h5 {
        line-height: 30px;
      }
      .dots-deals {
        display: flex;
        align-items: center;
        .dot {
          background-color: #fff;
          height: 15px;
          width: 15px;
          position: relative;
          z-index: 1;
          display: inline-block;
          border-radius: 50%;
          margin: 3px;
          &:hover {
            cursor: pointer;
            background-color: $primary;
          }
        }
        .dot-active {
          background-color: $primary;
        }
      }
    }
    .photo {
      padding: 0;
      text-align: center;
      background-color: #fff;
      .btn-main-small {
        position: relative;
        top: -200px;
      }
    }
    .stopwatch {
      display: flex;
      justify-content: space-around;
      .data {
        text-transform: uppercase;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #2a2a2a;
        color: #fff;
        text-align: center;
      }
    }
  }
}
